.. _class_name_link:

The Name of the Class 
#####################

[You may provide a short summary of the class here.]

.. contents::
    :local:
    :depth: 1

Description
***********

[The description of the class.]

Concepts
********

[Optional]
[Include if there are any concepts that you want to describe in detail.]

API
***

[Remove sections that you do not need.]

Header
======

[Optional]

Syntax
======

[Optional]

Template Parameters
===================

[Optional. Use if applicable]

Member Types
============

[Optional. Use if applicable]

Member Functions
================

[Optional. Use if applicable]

Member Objects
==============

[Optional. Use if applicable]

Protected Member Types
======================

[Optional. Use if applicable]

Protected Functions
===================

[Optional. Use if applicable]

Protected Member Objects
========================

[Optional. Use if applicable]

Non-member Functions
====================

[Optional. Use if applicable]

Helper Types
============

[Optional. Use if applicable]

Helper Classes
==============

[Optional. Use if applicable]

Examples
********

[Optional]

See Also
********

[Optional]