.. _enums_name_link:

The Title
=========

[Brief description of the enumeration types described below]

.. contents::
    :local:
    :depth: 1

API
***

Enum 1
------

Brief description of enum 1

value 1.1
    description of value 1.1

value 1.2
    description of value 1.2

Enum 2
------

Brief description of enum 2

value 2.1
    description of value 2.1

value 2.2
    description of value 2.2


Examples
********

[Optional]

See Also
********

[Optional]