.. _function_name_link:

The Name of the Function 
========================

[You may provide a short summary of the function here.]

- `Description`_
- `API`_
- `Examples`_
- `See Also`_

Description
***********

[The description of the function.]

API
***

[Remove sections that you do not need.]

Header
------

[Optional]

Syntax
------

[Optional]

Template Parameters
-------------------

[Optional. Use if applicable]

Input Parameters
----------------

[Optional. Use if applicable]

Output Parameters
-----------------

[Optional. Use if applicable]

Return Values
-------------

[Optional. Use if applicable]

Exceptions
----------

[Optional. Use if applicable]

Helper Functions
----------------

[Optional. Use if applicable]

Examples
********

[Optional. Use if applicable]

See Also
********

[Optional. Use if applicable]