.. _class_name_link:

The Name of the Class 
=====================

[You may provide a short summary of the class here.]

.. contents::
    :local:
    :depth: 1

Description
***********

[The description of the class.]

Concepts
********

[Optional]
[Include if there are any concepts that you want to describe in detail.]

API
***

.. doxygenclass:: the name of the class
   :project: the name of the project

Examples
********

[Optional]

See Also
********

[Optional]