.. _enums_name_link:

The Title
=========

[Brief description of the enumeration types described below]

API
***

.. contents::
    :local:
    :depth: 1

Enum 1
------

.. doxygenenum:: the name of the enum 2
   :project: the name of the project

Enum 2
------

.. doxygenenum:: the name of the enum 1
   :project: the name of the project

Examples
********

[Optional]

See Also
********

[Optional]