.. _enum_name_link:

The Name of the Enum 
====================

[Brief description of the enumeration type]

.. contents::
    :local:
    :depth: 1

API
***

.. doxygenenum:: the name of the enum
   :project: the name of the project

Examples
********

[Optional]

See Also
********

[Optional]