.. _function_name_link:

The Name of the Function 
========================

[You may provide a short summary of the function here.]

- `Description`_
- `API`_
- `Examples`_
- `See Also`_

Description
***********

[The description of the function.]

API
***

.. doxygenfunction:: the name of the function
   :project: the name of the project

Examples
********

[Optional]

See Also
********

[Optional]