[All of these are optional]
[Include this in the function_description_doxgyen template within API section]

Batch Procssing
---------------

.. doxygengroup:: the name of the group
   :project: the name of the project

Online Processing
-----------------

.. doxygengroup:: the name of the group
   :project: the name of the project

Distributed Processing
----------------------

.. doxygengroup:: the name of the group
   :project: the name of the project
