.. _function_name_link:

The Name of the Function 
========================

- `Summary`_
- `API`_
- `Examples`_

Summary
*******

[Summary description of the function.]

API
***

Syntax
------

[Optional]

Header
------

[Optional]

Description
-----------

[If you don't include the syntax and the header, omit the 'Description' titlle]

Examples
********

[Optional]