.. _function_name_link:

The Name of the Function 
========================

- `Summary`_
- `API`_
- `Examples`_

Summary
*******

[Summary description of the function.]

API
***

.. doxygenfunction:: the name of the function
   :project: the name of the project

Examples
********

[Optional]