.. _group_name_link:

The Name of the Group
=====================

- `Summary`_
- `Concepts`_
- `API`_
- `Examples`_

Summary
*******

[Summary description of the group.]

Concepts
********

[Optional]
[Include if there are any concepts that you want to describe in detail.]

API
***

Syntax
------

[Optional]

Header
------

[Optional]

Description
-----------

[If you don't include the syntax and the header, omit the 'Description' titlle]

Examples
********

[Optional]