Document Title
==============

[Library description with the relevant links to other documentation, Github repository, home page, etc.]

[This page should help users navigate through API Reference]
[Structure it in the following way:]

Link to Chapter A
    Brief description of what that part of the API Reference contains.
Link to Chapter B
    Brief description of what that part of the API Reference contains.
Link to Chapter C
    Brief description of what that part of the API Reference contains.

.. toctree::
    :maxdepth: 1
    :hidden:

    chapter A file
    chapter B file
    chapter C file
