.. _terminology:

Terminology
===========

[Create a glossary of terms used acroos API.]
[Terms will be sorted alphabetically.]
[Their definitions could be referenced from any point in documentation using a :term: directive]

.. glossary::
    :sorted:

    Term X
        Definition of term X

    Term Y
        Definition of term Y
